{% extends 'base.html' %}
{% block head %}
    <title>home</title>
{% endblock %}
{% block body %}
    <ul>
        {% for hotel in all_hotels %}
            <li>{{ hotel.hotel_owner }} -- {{ hotel.hotel_name }} -- {{ hotel.hotel_country }} -- {{ hotel.hotel_city }} --
            <a class="btn btn-success" href="{% url 'booking:hotel_details' pk=hotel.pk %}" role="button">View Details</a>
                {% if user.is_authenticated %}
                {% if not perms.booking.has_hotel %}
                    <a class="btn btn-success" href="{% url 'booking:reservation_add' hotel_id=hotel.pk %}" role="button">Reservation</a>
                {% endif %}
            {% endif %}
            {{ now }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}