{% extends 'base.html' %}
{% block head %}
    <title>home</title>
{% endblock %}
{% block body %}
    {% if perms.booking %}
        <p>Ma permisje</p>
    {% endif %}
    {% if perms.booking.has_hotel %}
        <p>Moze miec hotel.</p>
    {% endif %}
    <ul style="padding-top: 60px">
        {% for reservation in my_reservations %}
            <li>
                <p>{{ reservation.id }} --{{ reservation.reservation_owner }} -- {{ reservation.reservation_hotel }} -- {{ reservation.reservation_from }} -- {{ reservation.reservation_to }} -- {{ reservation.reservation_room }}
                    {% if reservation.is_before %}
                        <a class="btn btn-success" href="{% url 'booking:reservation_delete' pk=reservation.id %}" role="button">Delete Reservation</a>
                    {% endif %}
                    {% if not reservation.has_opinion %}
                        {% if reservation.is_after %}
                                <a class="btn btn-success" href="{% url 'booking:opinion_add' pk=reservation.id %}" role="button">Add opinion</a>
                        {% endif %}
                    {% endif %}
                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

