{% extends 'base.html' %}
{% block head %}
    <title>home</title>
{% endblock %}
{% block body %}

    <div class="container-fluid" style="padding-top: 50px">
        <div class="card" style="margin-top: 20px">
            <div class="row"></div>
                    {% for reservation in my_reservations %}
                        <div class="col-md-4 col-offset-6">
                        <div class="list-group">
                            <div class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <p>Hotel: {{ reservation.reservation_hotel }}
                                        from {{ reservation.reservation_from }} to {{ reservation.reservation_to }} </p>
                                    <p>Type of reserved room: {{ reservation.get_reservation_room_display }} x{{ reservation.reservation_for }} times.</p>
                                </div>
                             {% comment %}   {% if reservation.is_before %}{% endcomment %}
                                    <a class="btn btn-success"
                                       href="{% url 'booking:reservation_delete' pk=reservation.id %}" role="button">Delete
                                        Reservation</a>
                          {% comment %}      {% endif %}{% endcomment %}
                              {% comment %}  {% if not reservation.has_opinion %}{% endcomment %}
                                {% comment %}    {% if reservation.is_after %}{% endcomment %}
                                        <a class="btn btn-success"
                                           href="{% url 'booking:opinion_add' pk=reservation.id %}" role="button">Add
                                            opinion</a>
                                 {% comment %}   {% endif %}{% endcomment %}
                             {% comment %}   {% endif %}{% endcomment %}
                            </div>
                        </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}

